body {
    font-family: 'Aldrich', sans-serif;
}

.char-box {
    position: relative;
    height: 250px;
    width: 200px;    
}

.sprite {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.hpbar {
    height: 50px;
    width: 200px;
    background-color: green;
}

.damage {
    position: absolute;
    top: 65px;
    left: 125px;
    font-size: 45px;
    background-color: transparent;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.pixel-art {
    position: absolute;
    width: 100%;
}