body {
    font-family: 'Aldrich', sans-serif;
}

header {
    margin-top: 100px;
}

.wrapper {
    width: 960px;
    margin: auto;
}

#game-area {
    background-color: olivedrab;
}

#left-section {
    float: left;
    width: 300px;
    height: 580px;
    background-color: olivedrab;
    border: 10px solid black;    
}

#info-area {
    width: inherit;
    height: 370px;
    background-color: blueviolet;    
    border-bottom: 10px solid black;
}

#combat-log {
    width: inherit;
    height: 200px;
    background-color: #444;
}

#right-section {
    position: relative;
    float: right;
    width: 630px;
    height: 580px;
    background: pink;
    border: 10px solid black;
    border-left: none;
}

#player {
    position: absolute;
    top: 125px;
    left: 10px;
}

#enemy {
    position: absolute;
    top: 125px;
    right: 10px;
}

.char-box {
    position: relative;
    height: 350px;
    width: 300px;    
}

.sprite {
    height: 300px;
    width: 300px;
    background-color: blue;
}

.hpbar {
    height: 50px;
    width: 300px;
    background-color: green;
}

.damage {
    position: absolute;
    top: 65px;
    left: 200px;
    font-size: 55px;
    background-color: transparent;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

.pixel-art {
    
    width: 300px;
}